*{
	margin:0px;
}


body {
	font-family: 'B612 Mono', monospace;
	background:url(../img/table.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}



.container{
	

	width : 1140px;
	margin: 5% auto;
	
}

.login-section {    
    padding:5%;
  
}



.login-section img {
    height: 200px;
}




.login-section h3 {
	margin:20px;

}


.form-control{
    padding-bottom: 1.5%;
    background-color: black;
    color: lightpink;
}

.btn{
    color: deeppink;
    text-transform: uppercase;
    background-color: black;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    padding: 0.8%;
}

.btn:hover {
	cursor: pointer;
    box-shadow: 1.5px 2.5px 3.5px;
}

.boundary {
width: 1140px;
margin: 0px auto;
}



.Signup{
width: 20%;
padding: 10px;
background-color: black;
color: white;
}


.submit{
    color: hotpink;
    background-color: black;
    padding: 0.8%;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
}

.submit:hover{
	cursor: pointer;
    box-shadow: 1.5px 2.5px 3.5px;
}

.boundary2{ 
	width: 1140px;
	margin: 0px auto;
}



.submit{
	color: hotpink;
    background-color: black;
    padding: 0.8%;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
}
